package $!table.get("basePackage") .controller;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;
import org.springframework.web.servlet.ModelAndView;
import cn.cmcc.onecity.bc.commons.call.CommonResponse;
import cn.cmcc.onecity.bc.commons.call.FuzzyResponse;
import cn.cmcc.onecity.bc.commons.call.PageResponse;
import $!table.get("basePackage") .entity.vo.${table.entityName}Query;
import $!table.get("basePackage") .service.${table.entityName}Service;

import cn.cmcc.onecity.bc.utils.JsonUtil;

import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;
import java.io.IOException;

/**
 * @author elvin
 * @description  ${table.entityName} controller
 */
@Controller
@RequestMapping("/${table.entityLowerCamel}")
public class ${table.entityName}Controller {

    @Autowired
    private ${table.entityName}Service ${table.entityLowerCamel}Service;

    /**
    * @description 二级页面
    * @param modelAndView
    * @return org.springframework.web.servlet.ModelAndView
    * @Author elvin
    * @Date 2019/12/25
    */
    @RequestMapping("/${table.entityLowerCamel}Home")
    public ModelAndView ${table.entityLowerCamel}Home(ModelAndView modelAndView) {
        modelAndView.setViewName("${table.entityLowerCamel}/${table.entityLowerCamel}Home");
        return modelAndView;
    }

    /**
    * @description 增改页面
    * @param id
    * @param request
    * @param modelAndView
    * @return org.springframework.web.servlet.ModelAndView
    * @Author elvin
    * @Date 2019/12/25
    */
    @RequestMapping("/${table.entityLowerCamel}CrudView")
    public ModelAndView ${table.entityLowerCamel}CrudView( Integer id, HttpServletRequest request, ModelAndView modelAndView) {
        Object o = ${table.entityLowerCamel}Service.selectByPrimaryKeyForCrud(request, id);
        modelAndView.addObject("record",o);
        modelAndView.setViewName("${table.entityLowerCamel}/${table.entityLowerCamel}CrudView");
        return modelAndView;
    }



    /**
    * 获取列表
    * @return
    * @throws Exception
    */
    @RequestMapping("/${table.entityLowerCamel}Page")
    public ModelAndView ${table.entityLowerCamel}Page( ${table.entityName}Query query, ModelAndView modelAndView) throws Exception {
        modelAndView.addObject("response", ${table.entityLowerCamel}Service.getPage(query));
        modelAndView.setViewName("${table.entityLowerCamel}/${table.entityLowerCamel}Page");
        return modelAndView;
    }

    /**
    * @description 删除单条
    * @param id
    * @param request
    * @return org.springframework.web.servlet.ModelAndView
    * @Author elvin
    * @Date 2019/12/25
    */
    @RequestMapping("/${table.entityLowerCamel}CrudJson")
    @ResponseBody
    public CommonResponse ${table.entityLowerCamel}CrudJson( Integer id, HttpServletRequest request,HttpServletResponse response) throws IOException {
            ${table.entityLowerCamel}Service.selectByPrimaryKeyForCrud(request,id);
        CommonResponse delete = ${table.entityLowerCamel}Service.delete(id, request, response);
        return delete;
    }
    /**
    * @description 批量删除
    * @param request
    * @return org.springframework.web.servlet.ModelAndView
    * @Author elvin
    * @Date 2019/12/25
    */
    @RequestMapping("/${table.entityLowerCamel}BatchDeleteJson")
    @ResponseBody
    public CommonResponse ${table.entityLowerCamel}BatchDeleteJson( String ids , HttpServletRequest request,HttpServletResponse response) throws IOException {
        CommonResponse commonResponse = ${table.entityLowerCamel}Service.deleteBatch(ids, request, response);
        return commonResponse;
    }

    /**
    * @description 模糊搜索
    * @param text
    * @param fieldName
    * @param request
    * @return top.buukle.common.call.FuzzyResponse
    * @Author elvin
    * @Date 2019/8/4
    */
    @RequestMapping("/fuzzy/search")
    @ResponseBody
    public FuzzyResponse fuzzySearch(String text, String fieldName, HttpServletRequest request) {
        return ${table.entityLowerCamel}Service.fuzzySearch(text, fieldName);
    }

    /**
    * @description 新增或者修改
    * @param query
    * @param request
    * @return top.buukle.common.call.CommonResponse
    * @Author elvin
    * @Date 2019/8/5
    */
    @RequestMapping("/saveOrEdit")
    @ResponseBody
    public CommonResponse saveOrEdit(${table.entityName}Query query, HttpServletRequest request, HttpServletResponse response) throws Exception {
        return ${table.entityLowerCamel}Service.saveOrEdit(query,request,response);
    }
}