package $!table.get("basePackage") .service.impl;

import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.core.env.Environment;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Isolation;
import org.springframework.transaction.annotation.Propagation;
import org.springframework.transaction.annotation.Transactional;
import cn.cmcc.onecity.bc.commons.call.CommonResponse;
import cn.cmcc.onecity.bc.commons.call.FuzzyResponse;
import cn.cmcc.onecity.bc.commons.call.PageResponse;
import cn.cmcc.onecity.bc.commons.call.vo.FuzzyVo;
import cn.cmcc.onecity.bc.commons.status.StatusConstants;
import cn.cmcc.onecity.bc.commons.mvc.CommonMapper;
import $!table.get("basePackage") .dao.${table.entityName}Mapper;
import cn.cmcc.onecity.bc.boss.entity.User;
import $!table.get("basePackage") .entity.${table.entityName};
import $!table.get("basePackage") .entity.${table.entityName}Example;
import cn.cmcc.onecity.bc.commons.mvc.BaseQuery;
import $!table.get("basePackage") .entity.vo.${table.entityName}Query;
import cn.cmcc.onecity.bc.boss.client.web.util.SessionUtil;
import $!table.get("basePackage") .service.${table.entityName}Service;
import $!table.get("basePackage") .service.constants.SystemReturnEnum;
import $!table.get("basePackage") .entity.constants.${table.entityName}Enums;
import $!table.get("basePackage") .service.exception.SystemException;
import $!table.get("basePackage") .service.util.ConvertHumpUtil;
import cn.cmcc.onecity.bc.utils.DateUtil;
import cn.cmcc.onecity.bc.utils.JsonUtil;
import cn.cmcc.onecity.bc.utils.StringUtil;

import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.Date;
import java.util.List;

/**
* @author elvin
* @description ${table.entityName}Service实现类
*/
@Service("${table.entityLowerCamel}Service")
public class ${table.entityName}ServiceImpl implements ${table.entityName}Service{

    @Autowired
    private ${table.entityName}Mapper ${table.entityLowerCamel}Mapper;

    @Autowired
    private CommonMapper commonMapper;

    /**
     * 分页获取列表
     * @param query 查询对象
     * @return PageResponse
     */
    @Override
    public PageResponse getPage(BaseQuery query) {
        PageHelper.startPage(((${table.entityName}Query)query).getPage(),((${table.entityName}Query)query).getPageSize());
        List<${table.entityName}> list = ${table.entityLowerCamel}Mapper.selectByExample(this.assExampleForList(((${table.entityName}Query)query)));
        PageInfo<${table.entityName}> pageInfo = new PageInfo<>(list);
        return new PageResponse.Builder().build(list,pageInfo.getPageNum(),pageInfo.getPageSize(),pageInfo.getTotal());
    }

    /**
     * 根据id删除记录状态数据
     * @param id 删除数据实例
     * @param request httpServletRequest
     * @param response
     * @return
     */
    @Override
    @Transactional(propagation = Propagation.REQUIRED,isolation= Isolation.DEFAULT ,rollbackFor = Exception.class)
    public CommonResponse delete(Integer id, HttpServletRequest request, HttpServletResponse response) {
        if(${table.entityLowerCamel}Mapper.updateByPrimaryKeySelective(this.assQueryForUpdateStatus(id, ${table.entityName}Enums.status.DELETED.value(),request,response)) != 1){
            throw new SystemException(SystemReturnEnum.DELETE_INFO_EXCEPTION);
        }
        return new CommonResponse.Builder().buildSuccess();
    }

    /**
     * @description 批量删除
     * @param ids
     * @param request
     * @param response
     * @return cn.cmcc.onecity.bc.common.call.CommonResponse
     * @Author elvin
     * @Date 2019/8/4
     */
    @Override
    @Transactional(propagation = Propagation.REQUIRED,isolation= Isolation.DEFAULT ,rollbackFor = Exception.class)
    public CommonResponse deleteBatch(String ids, HttpServletRequest request, HttpServletResponse response) {
        String trimIds = ids.trim();
        String[] split = trimIds.split(",");
        if(StringUtil.isEmpty(trimIds) || split.length<1){
            throw new SystemException(SystemReturnEnum.DELETE_BATCH_IDS_NULL);
        }
        List<Integer> idList = JsonUtil.parseArray(JsonUtil.toJSONString(Arrays.asList(split)), Integer.class);
        ${table.entityName}Example ${table.entityLowerCamel}Example = new ${table.entityName}Example();
        ${table.entityName}Example.Criteria criteria = ${table.entityLowerCamel}Example.createCriteria();
        criteria.andIdIn(idList);
        ${table.entityName} ${table.entityLowerCamel} = new ${table.entityName}();

        User operator = SessionUtil. getOperator(request, response);
        ${table.entityLowerCamel}.setGmtModified(new Date());
        ${table.entityLowerCamel}.setModifier(operator.getUsername());
        ${table.entityLowerCamel}.setModifierCode(operator.getUserId());

        ${table.entityLowerCamel}.setStatus(${table.entityName}Enums.status.DELETED.value());
        ${table.entityLowerCamel}Mapper.updateByExampleSelective(${table.entityLowerCamel},${table.entityLowerCamel}Example);
        return new CommonResponse.Builder().buildSuccess();
    }

    /**
     * @description 根据id查询
     * @param id
     * @return top.$!table.get("basePackage") .entity.${table.entityName}
     * @Author elvin
     * @Date 2019/8/4
     */
    @Override
    public ${table.entityName} selectByPrimaryKeyForCrud(HttpServletRequest httpServletRequest, Integer id) {
        if(id == null){
            return new ${table.entityName}();
        }
        ${table.entityName} ${table.entityLowerCamel} = ${table.entityLowerCamel}Mapper.selectByPrimaryKey(id);
        return ${table.entityLowerCamel} == null ? new ${table.entityName}() : ${table.entityLowerCamel};
    }

    /**
     * @description 新增或者修改
     * @param query
     * @param request
     * @param response
     * @return cn.cmcc.onecity.bc.common.call.CommonResponse
     * @Author elvin
     * @Date 2019/8/5
     */
    @Override
    @Transactional(propagation = Propagation.REQUIRED,isolation= Isolation.DEFAULT ,rollbackFor = Exception.class)
    public CommonResponse saveOrEdit(${table.entityName}Query query, HttpServletRequest request, HttpServletResponse response) {

        User operator = SessionUtil.getOperator(request, response);
        query.setCreatorDeptId(SessionUtil.getUserDeptId(request));
        query.setCreator(operator.getUsername());
        query.setCreatorCode(operator.getUserId());

        validateParamForSaveOrEdit(query);
        // 新增
        if(query.getId() == null){
            this.save(query,request,response);
            // 更新状态为通过
            ${table.entityName}Query queryForUpdate = new ${table.entityName}Query();
            queryForUpdate.setId(query.getId());
            queryForUpdate.setStatus(${table.entityName}Enums.status.PUBLISHED.value());
            this.update(queryForUpdate,request,response);
        }
        // 更新
        else{
            this.update(query,request,response);
        }
        return new CommonResponse.Builder().buildSuccess();
    }

    /**
     * 模糊搜素
     * @param text 模糊的字符
     * @param fieldName 模糊字段名
     * @return FuzzyResponse
     */
    @Override
    public FuzzyResponse fuzzySearch(String text, String fieldName) {
        FuzzyVo fuzzyVo = new FuzzyVo();
        fuzzyVo.setText(text);
        fuzzyVo.setFieldName(fieldName);
        fuzzyVo.setTableName(ConvertHumpUtil.humpToLine("${table.entityName}"));
        return new FuzzyResponse.Builder().build(commonMapper.fuzzySearch(fuzzyVo));
    }

    /**
     * 保存记录
     * @param query  查询实体
     * @param request httpServletRequest
     * @param response
     * @return
     */
    @Override
    @Transactional(propagation = Propagation.REQUIRED,isolation= Isolation.DEFAULT ,rollbackFor = Exception.class)
    public CommonResponse save(BaseQuery query, HttpServletRequest request, HttpServletResponse response) {

        ${table.entityLowerCamel}Mapper.insert(this.assQueryForInsert((${table.entityName}Query)query,request,response));
        return new CommonResponse.Builder().buildSuccess();
    }

    /**
     * 更新记录
     * @param query
     * @param request
     * @param response
     * @return
     */
    @Override
    @Transactional(propagation = Propagation.REQUIRED,isolation= Isolation.DEFAULT ,rollbackFor = Exception.class)
    public CommonResponse update(BaseQuery query, HttpServletRequest request, HttpServletResponse response) {
        ${table.entityName}Query ${table.entityLowerCamel}Query = ((${table.entityName}Query)query);

        ${table.entityName}Example example = new ${table.entityName}Example();
        ${table.entityName}Example.Criteria criteria = example.createCriteria();
        criteria.andIdEqualTo(${table.entityLowerCamel}Query.getId());
        User operator = SessionUtil. getOperator(request, response);
        ${table.entityLowerCamel}Query.setGmtModified(new Date());
        ${table.entityLowerCamel}Query.setModifier(operator.getUsername());
        ${table.entityLowerCamel}Query.setModifierCode(operator.getUserId());
        ${table.entityLowerCamel}Mapper.updateByExampleSelective(${table.entityLowerCamel}Query,example);
        return new CommonResponse.Builder().buildSuccess();
    }

    /**
     * @description 校验参数 saveOrEdit
     * @param query
     * @return void
     * @Author elvin
     * @Date 2019/8/5
     */
    private void validateParamForSaveOrEdit(${table.entityName}Query query) {
        // TODO
    }

    /**
     * 组装新增实体
     * @param query
     * @param request
     * @param response
     * @return
     */
    private ${table.entityName} assQueryForInsert(${table.entityName}Query query, HttpServletRequest request, HttpServletResponse response) {
        this.validateParamForSaveOrEdit(query);
        query.setStatus(${table.entityName}Enums.status.INIT.value());
        query.setGmtCreated(new Date());
        User operator = SessionUtil.getOperator(request, response);
        query.setCreator(operator.getUsername());
        query.setCreatorCode(operator.getUserId());
        query.setGmtModified(new Date());
        query.setModifier(operator.getUsername());
        query.setModifierCode(operator.getUserId());
        query.setCreatorDeptId(SessionUtil.getUserDeptId(request));

        return query;
    }

    /**
     * 组装更新状态实体
     * @param id
     * @param status
     * @param request
     * @param response
     * @return
     */
    private ${table.entityName} assQueryForUpdateStatus(Integer id, Integer status, HttpServletRequest request, HttpServletResponse response) {
        ${table.entityName}Query infoQuery = new ${table.entityName}Query();
        User operator = SessionUtil. getOperator(request, response);
        infoQuery.setId(id);
        infoQuery.setStatus(status);
        infoQuery.setGmtModified(new Date());
        infoQuery.setModifier(operator.getUsername());
        infoQuery.setModifierCode(operator.getUserId());
        return infoQuery;
    }

    /**
     * 组装分页参数
     * @param query
     * @return
     */
    private ${table.entityName}Example assExampleForList(${table.entityName}Query query) {
        ${table.entityName}Example example = new ${table.entityName}Example();
        ${table.entityName}Example.Criteria criteria = example.createCriteria();
        if(StringUtil.isNotEmpty(query.getStartTime())){
            criteria.andGmtCreatedGreaterThanOrEqualTo(DateUtil.parse(query.getStartTime()));
        }
        if(StringUtil.isNotEmpty(query.getEndTime())){
            criteria.andGmtCreatedLessThanOrEqualTo(DateUtil.parse(query.getEndTime()));
        }
        if(query.getId() != null){
            criteria.andIdEqualTo(query.getId());
        }
        // TODO
        if(StringUtil.isNotEmpty(query.getStates())){
            List list = new ArrayList();
            for (String state : query.getStates().split(",")) {
                list.add(Integer.parseInt(state));
            }
            criteria.andStatusIn(list);
        }
        criteria.andStatusNotEqualTo(StatusConstants.DELETED);
        example.setOrderByClause("gmt_modified desc");
        return example;
    }
}